footer.site--footer
  // === Footer v3 ===
  #footer.footer.ag-footer
    .container
      .row.hidden-sm.hidden-xs
        .col-md-2.col-sm-2.md-margin-bottom-40.ag-footer-links
          .margin-bottom-30
            .thumb-headline
              a(href='/investment-philosophy.html')
                h2 Investment Philosophy
        .col-md-2.col-sm-2.md-margin-bottom-40.ag-footer-links
          .margin-bottom-30
            .thumb-headline
              a(href='/product-offering.html')
                h2 Product Offering
          ul.list-unstyled.simple-list.margin-bottom-20
            li.ag-footer-link-item
              a(href='/select-funds.html') Select Funds
        .col-md-2.col-sm-2.md-margin-bottom-40.ag-footer-links
          .margin-bottom-30
            .thumb-headline
              a(href='/investor-profiles.html')
                h2 Investor Profiles
          ul.list-unstyled.simple-list.margin-bottom-20
            li.ag-footer-link-item
              a(href='/high-net-worth.html') High Net Worth
            li.ag-footer-link-item
              a(href='/institutional-investors.html') Institutional Investors
            li.ag-footer-link-item
              a(href='/corporate-pension-funds.html') Corporate Pension Funds
        .col-md-2.col-sm-2.md-margin-bottom-40.ag-footer-links
          .margin-bottom-30
            .thumb-headline
              a(href='/market-commentary.html')
                h2 Market Review &amp; Outlook
          ul.list-unstyled.simple-list.margin-bottom-20
            li.ag-footer-link-item
              a(href='/market-commentary.html') Market Commentary
            li.ag-footer-link-item
              a(href='/macro-and-market-outlook.html') Macro and Market Outlook
            li.ag-footer-link-item
              a(href='/the-journal.html') The Journal
        .col-md-2.col-sm-2.md-margin-bottom-40.ag-footer-links
          .margin-bottom-30
            .thumb-headline
              a(href='about-us.html')
                h2 About Us
          ul.list-unstyled.simple-list.margin-bottom-20
            li.ag-footer-link-item
              a(href='/about-us.html#company-overview') Company Overview
            li.ag-footer-link-item
              a(href='/about-us.html#our-team') Our Team
        .col-md-2.col-sm-2.md-margin-bottom-40.ag-footer-links
          .margin-bottom-30
            .thumb-headline
              a(href='/contact-us.html')
                h2 Contact Us
      // For Tablet view
      .hidden-lg.hidden-md.footer-accordion.margin-top-20.margin-bottom-50
        .panel-title
          .accordion-links.margin-bottom-10
            a.collapsed(href='/investment-philosophy.html')
              | Investment Philosophy
        hr
        .panel-title
          .accordion-links.margin-bottom-10
            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#accordion0')
              | Product Offering
              span.glyphicon.glyphicon-menu-down.pull-right.arrow-icon
        #accordion0.panel-collapse.collapse
          div
            ul.list-unstyled.margin-bottom-20
              li.link-item
                a(href='/product-offering.html') Product Offering
              li.link-item
                a(href='/select-funds.html') Select Funds
        hr
        .panel-title
          .accordion-links.margin-bottom-10
            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#accordion1')
              | Investor Profiles
              span.glyphicon.glyphicon-menu-down.pull-right.arrow-icon
        #accordion1.panel-collapse.collapse
          div
            ul.list-unstyled.margin-bottom-20
              li.link-item
                a(href='/investor-profiles.html') Investor Profiles
              li.link-item
                a(href='/high-net-worth.html') High Net Worth
              li.link-item
                a(href='/institutional-investors.html') Institutional Investors
              li.link-item
                a(href='/corporate-pension-funds.html') Corporate Pension Funds
        hr
        .panel-title
          .accordion-links.margin-bottom-10
            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#accordion2')
              | Market Review &amp; Outlook
              span.glyphicon.glyphicon-menu-down.pull-right.arrow-icon
        #accordion2.panel-collapse.collapse
          div
            ul.list-unstyled.margin-bottom-20
              li.link-item
                a(href='/market-commentary.html') Market Commentary
              li.link-item
                a(href='/macro-and-market-outlook.html') Macro and Market Outlook
              li.link-item
                a(href='/the-journal.html') The Journal
        hr
        .panel-title
          .accordion-links.margin-bottom-10
            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#accordion3')
              | About Us
              span.glyphicon.glyphicon-menu-down.pull-right.arrow-icon
        #accordion3.panel-collapse.collapse
          div
            ul.list-unstyled.margin-bottom-20
              li.link-item
                a(href='/about-us.html') About Us
              li.link-item
                a(href='/about-us.html#company-overview') Company Overview
              li.link-item
                a(href='/about-us.html#our-team') Our Team
        hr
        .panel-title
          .accordion-links.margin-bottom-10
            a.collapsed(href='/contact-us.html')
              | Contact Us
        hr
      // Address Line
      .copyright.no-margin-bottom
        .row.visible-xs
          .content-centered.footer-info
            span.display-inline (441) 295-9000
        .row.margin-bottom-5
          .col-md-7.col-sm-7.ag-legal.footer-bottom-address
            div
              | Maxwell Roberts Building, 1 Church Street, 3rd Floor, Hamilton HM11, Bermuda
          .content-centered.footer-info.hidden-xs
            span.display-inline (441) 295-9000
      // /Address line
      hr
      // Copyright Section
      .copyright.margin-top-10
        .row.visible-xs
          .col-xs-12
            .content-centered.footer-flag
              span
                img(src='images/bermuda_flag.png', role="img", alt="Flag of Bermuda")
              span.display-inline.margin-left-5 Bermuda
        .row
          // Terms Info
          .col-md-10.col-sm-8.col-xs-12.ag-legal.footer-bottom-info
            div
              .row
                .col-md-6.col-sm-12.col-xs-12
                  span
                    span.site--footer-copyright Argus Wealth Management &copy; 2018. All Rights Reserved.
                .col-md-6.col-sm-12.col-xs-12
                  span
                    a.site--footer-footlinks(href='http://afl.bm/pdfs/AFL_ClientComplaintForm.pdf', target="_blank") Client Complaint Form
                    | &nbsp;&nbsp;|&nbsp;&nbsp;
                    a.site--footer-footlinks(href='http://afl.bm/pdfs/AFL_ExternalPrivacyPolicy.pdf', target="_blank") Privacy Policy
                    | &nbsp;&nbsp;|&nbsp;&nbsp;
                    a.site--footer-footlinks(href='/terms-conditions.html') Terms of Service
                    //- |  | 
                    //- a(href='') Sitemap
          // End Terms Info
          .col-md-2.col-sm-4.hidden-xs
            .content-centered.footer-flag
              span
                img(src='images/bermuda_flag.png', role="img", alt="Flag of Bermuda")
              span.display-inline.margin-left-5 Bermuda
      // /copyright
