footer.site--footer
  // === Footer v3 ===
  #footer.footer.ag-footer
    .container
      .copyright.no-margin-bottom
        .row.visible-xs
          .content-centered.footer-info
            span.display-inline +1 (441) 295-9000
        .row.margin-bottom-5
          .col-md-8.col-sm-7.ag-legal.footer-bottom-address
            div
              | Maxwell Roberts Building, 1 Church Street, 3rd Floor, Hamilton HM11, Bermuda
          .content-centered.footer-info.hidden-xs
            span.display-inline +1 (441) 295-9000
      // /Address line
      hr
      // Copyright Section
      .copyright.margin-top-10
        .row.visible-xs
          .col-xs-12
            .content-centered.footer-flag
              span
                img(src='images/bermuda_flag.png', role="img", alt="Flag of Bermuda")
              span.display-inline.margin-left-5 Bermuda
        .row
          // Terms Info
          .col-md-10.col-sm-8.col-xs-12.ag-legal.footer-bottom-info
            div
              .row
                .col-md-6.col-sm-12.col-xs-12
                  span
                    span.site--footer-copyright Argus Wealth Management &copy; 2018. All Rights Reserved.
                .col-md-6.col-sm-12.col-xs-12
                  span
                    a.site--footer-footlinks(href='http://arguswealth.bm/pdfs/AFL_ClientComplaintForm.pdf', target="_blank") Client Complaint Form
                    a.site--footer-footlinks(href='http://arguswealth.bm/pdfs/AFL_ExternalPrivacyPolicy.pdf', target="_blank") Privacy Policy
                    a.site--footer-footlinks(href='terms-conditions.html') Terms of Service
          // End Terms Info
          .col-md-2.col-sm-4.hidden-xs
            .content-centered.footer-flag
              span
                img(src='images/bermuda_flag.png', role="img", alt="Flag of Bermuda")
              span.display-inline.margin-left-5 Bermuda
      // /copyright
