header
	#megamenulist.header-v8.header-sticky.hidden-xs.hidden-sm.hidden-md
		.navbar.mega-menu.tb-megamenu(role='navigation')
			.container.full-height
				.row.full-height.flex-vertical.rel-position
					.col-md-3
						.res-container
							.navbar-brand
								a.clearfix(href='index.html')
									img(src='images/awm-site-logo.png', alt='Argus Wealth Management')