header
	#megamenulist.header-v8.header-sticky.hidden-xs.hidden-sm.hidden-md
		.navbar.mega-menu.tb-megamenu(role='navigation')
			.container.full-height
				.row.full-height.flex-vertical.rel-position
					.col-md-2
						.res-container
							button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							.navbar-brand
								a.clearfix(href='/')
									img(src='images/awm-site-logo.png', alt='Argus Wealth Management')
								//- .vertical-align-middle.search-cntr.clearfix.visible-sm.visible-xs
								//-   form(action='https://argus.bm/search/')
								//-     .form-group.has-feedback
								//-       label.sr-only(for='search') Search
								//-       input#search.form-control(name='search', placeholder='Search', type='text')
								//-       span.glyphicon.glyphicon-search.form-control-feedback
					.col-md-10.static-position
						.collapse.navbar-collapse.navbar-responsive-collapse
							ul#menu-list.nav.navbar-nav.static-position.bm-nav-menu
								li.dropdown.mega-menu-fullwidth.visible-xs.visible-sm
									a(href='/client-login.html') Client Login
								li.dropdown.mega-menu-fullwidth.text-center
									a(href='/investment-philosophy.html', class=(bodyClass === 'investment-philosophy' ? 'active' : ''))
										span.overlay Investment Philosphy
								li.dropdown.mega-menu-fullwidth.text-center
									a(href='/product-offering.html', class=(bodyClass === 'product-offering' ? 'active' : ''))
										span.overlay Product Offering
										img.sub-menu-indicator(src='images/navigation.png')
									ul.dropdown-menu
										// MEGA MENU STARTS
										li
											.row.display-table
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
														a.heading-link(href='/product-offering.html') Product Offering
														p Product Offering text here...
														ul.mega-menu-list(id='')
															li
																a.list-item(href='/select-funds.html') Select Funds
								li.dropdown.mega-menu-fullwidth.text-center
									a(href='/investor-profiles.html', class=(bodyClass === 'investor-profiles' ? 'active' : ''))
										span.overlay Investor Profiles
										img.sub-menu-indicator(src='images/navigation.png')
									ul.dropdown-menu
										// MEGA MENU STARTS
										li
											.row.display-table
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
														a.heading-link(href='/investor-profiles.html') Investor Profiles
														p Investor Profiles text here...
														ul.mega-menu-list(id='')
															li
																a.list-item(href='/high-net-worth.html') High Net Worth
															li
																a.list-item(href='/institutional-investors.html') Institutional Investors
															li
																a.list-item(href='/corporate-pension-funds.html') Corporate Pension Funds
								li.dropdown.mega-menu-fullwidth.text-center
									a(href='/market-commentary.html', class=(bodyClass === 'market-commentary' ? 'active' : ''))
										span.overlay Market Review &amp; Outlook
										img.sub-menu-indicator(src='images/navigation.png')
									ul.dropdown-menu
										// MEGA MENU STARTS
										li
											.row.display-table
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
												.col-sm-3.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
														a.heading-link(href='/market-commentary.html') Market Review &amp; Outlook
														p Market &amp; Macro Outlook text here...
														ul.mega-menu-list(id='')
															li
																a.list-item(href='/market-commentary.html') Market Commentary
															li
																a.list-item(href='/macro-and-market-outlook.html') Macro and Market Outlook
															li
																a.list-item(href='/the-journal.html') The Journal
.visible-xs.visible-sm.visible-md
	#site-menu.ag-site-menu.mobile
		.ag-mobile-menu
			//- .search-cntr.mobile
			//-   form(action='https://argus.bm/search/')
			//-     .form-group.has-feedback
			//-       label.sr-only(for='search') Search
			//-       input#search.form-control(name='search', placeholder='Search', type='text')
			//-       span.glyphicon.glyphicon-search.form-control-feedback
			ul.list-unstyled.nav.nav-stacked.mobile-menu-list
				li.dropdown.level-1.top-level(data-level='1')
					a(href='/investment-philosophy.html')
						.ag-link-name Investment Philosophy 
				li.dropdown.level-1.top-level(data-level='1')
					a(href='/product-offering.html')
						.ag-link-name Product Offering 
						span.js-ag-link-toggle.toggle-arrow.arrow-down
					ul.hidden.ag-menu-level-2.ag-menu-sublevel.list-unstyled.nav.nav-stacked
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='/select-funds.html') Select Funds
				li.dropdown.level-1.top-level(data-level='1')
					a(href='/investor-profiles.html')
						.ag-link-name Investor Profiles 
						span.js-ag-link-toggle.toggle-arrow.arrow-down
					ul.hidden.ag-menu-level-2.ag-menu-sublevel.list-unstyled.nav.nav-stacked
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='/high-net-worth.html') High Net Worth
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='/institutional-investors.html') Institutional Investors
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='/corporate-pension-funds.html') Corporate Pension Funds
				li.dropdown.level-1.top-level(data-level='1')
					a(href='/market-commentary.html')
						.ag-link-name Market Review &amp; Outlook 
						span.js-ag-link-toggle.toggle-arrow.arrow-down
					ul.hidden.ag-menu-level-2.ag-menu-sublevel.list-unstyled.nav.nav-stacked
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='/market-commentary.html') Market Commentary
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='/macro-and-market-outlook.html') Macro and Market Outlook
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='/the-journal.html') The Journal
				li.dropdown.level-1.top-level(data-level='1')
					a(href='/about-us.html')
						.ag-link-name About Us 
				li.dropdown.level-1.top-level(data-level='1')
					a(href='/contact-us.html')
						.ag-link-name Contact Us
				li.dropdown.level-1.top-level(data-level='1')
					a(href='https://argus.bm', target="_blank")
						.ag-link-name Argus.bm 