header.visible-xs.visible-sm.visible-md
	.container
		.row.flex-center.mobile-menu-nav-header
			.col-xs-2
				a(onclick='goBack()', role="link")
					img(src='images/back-button.png')
			.col-xs-8.text-center
				a(href='index.html')
					img.mobile-logo(src='images/awm-site-logo.png', alt='Argus Wealth Management')
			.col-xs-2.text-right