header.visible-xs.visible-sm.visible-md
	.container
		.row.flex-center.mobile-menu-nav-header
			.col-xs-2
				a.toggle-nav(href='#')
					img(src='images/menu-button.png')
			.col-xs-8.text-center
				a(href='index.html')
					img.mobile-logo(src='images/awm-site-logo.png', alt='Argus Wealth Management')
			.col-xs-2.text-right
				//- a(href='https://aflonline.aflinvestments.bm/login.asp')
				a(href='client-login.html', role="link")
					img(src='images/login-button.png')