.ag-full-width-container.awm-background.awm-navigation
	div
		.container-fluid.ag-relative-container
			header
				.top-nav-container.visible-lg-block
					.container
						.row.flex-vertical
							.col-md-12.js-nav-items
								ul#topbar.topbar-list.topbar-menu
									li.link(class=(bodyClass === 'about-us' ? 'current' : ''))
										a(href='/about-us.html') About Us
									li.link(class=(bodyClass === 'contact-us' ? 'current' : ''))
										a(href='/contact-us.html') Contact Us
									li.link
										a(href='https://argus.bm') Argus.bm
									li.link.link--btn
										a.btn.btn-primary.call-to-action(href='client-login.html') Client Login
										//- a.btn.btn-primary.call-to-action(href='https://aflonline.aflinvestments.bm/login.asp') Client Login