extends ../_layouts/default

block title
  title About Us &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'about-us';

block content
  include ../_partials/about-us
  include ../_includes/modals/angela.pug
  include ../_includes/modals/david.pug
  include ../_includes/modals/joel.pug
  include ../_includes/modals/julie.pug
  include ../_includes/modals/louis.pug
  include ../_includes/modals/sara.pug
  include ../_includes/modals/simon.pug
