extends ../_layouts/default

block title
  title Corporate Pension Funds &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'corporate-pension-funds';

block content
  include ../_partials/corporate-pension-funds