extends ../_layouts/default

block title
  title Institutional Investors &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'institutional-investors';

block content
  include ../_partials/institutional-investors