extends ../_layouts/default

block title
  title Investor Profiles &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'investor-profiles';

block content
  include ../_partials/investor-profiles
