extends ../_layouts/default

block title
  title Investment Philosophy &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'investment-philosophy';

block content
  include ../_partials/investment-philosophy
