extends ../_layouts/default

block title
  title Macro &amp; Market Outlook &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'macro-and-market-outlook';

block content
  include ../_partials/macro-and-market-outlook