extends ../_layouts/default

block title
  title Market Commentary &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'market-commentary';

block content
  include ../_partials/market-commentary