extends ../_layouts/default

block title
  title Product Offering &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'product-offering';

block content
  include ../_partials/product-offering
