extends ../_layouts/default

block title
  title Terms and Conditions &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'terms-conditions';

block content
  include ../_partials/terms-conditions