doctype html
html(lang="en")
  head
    block title
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no")
    meta(name="HandheldFriendly", content="True")
    meta(name="robots", content="all")
    link(rel="stylesheet", href="css/vendor/jquery-ui.css")
    link(rel="stylesheet", href="css/vendor/bootstrap.css")
    link(rel="stylesheet", href="css/vendor/unify.css")
    link(rel="stylesheet", href="css/vendor/styles.css")
    link(rel="stylesheet", href="css/vendor/ie-only.css")
    link(rel="stylesheet", href="css/awm.css", media="screen")
    script(src="js/vendor/modernizr.js")
    script(src="js/vendor/jquery.js")
  block vars
  body(class=bodyClass)
    block content
    script(src="js/vendor/lodash.js")
    script(src="js/vendor/respond.js")
    script(src="js/vendor/plugins.js")
    script(src="js/vendor/atc.js")
    script(src="js/vendor/jquery-cookie.js")
    script(src="js/vendor/jquery-form-validator.js")
    script(src="js/vendor/jfv-date.js")
    script(src="js/vendor/jfv-file.js")
    script(src="js/vendor/jfv-toggleDisabled.js")
    //- script(type='text/javascript').
    //-   window.cookieconsent_options = { "message": "To ensure you get the best experience on our website, this website uses cookies. By using our website you agree to the terms of our", "dismiss": "Got it!", "learnMore": "Privacy Policy", "link": "/privacy-policy", "theme": "light-top" };
    //- script(src="js/vendor/cookie-consent.js")
    //- script(src="js/vendor/cookie-consent-2.js")
    script(src="js/vendor/scripts.js")
    script(src="js/custom.js")
