#modal-david.modal.fade(tabindex='-1', role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				h4.modal-title David H. Tavares
				p.modal-designation Financial Analyst
			.modal-body
				.row
					.col-sm-6.col-md-4
						img.modal-thumb(src="images/awm-team-thumb.png", alt="David H. Tavares, Financial Analyst")
					.col-sm-6.col-md-8
						.modal-wrap
							p David joined AFL Investments in June 2015. Prior to joining AFL, he worked for Argus as both a Research Analyst and Group Benefits Underwriter. Before joining Argus, David worked for Sun Life Financial at their U.S. Headquarters in Massachusetts, having spent the better part of a decade living and working in the Boston area. In his current role David supports the investment team through financial analysis of market developments, due diligence and compliance with guidelines. He is also responsible for the production of scheduled and bespoke reports showing how movements in the financial markets affect The Argus Group’s portfolio of investments.
							p David holds a Bachelor’s Degree in Business from Mount Saint Vincent University in Halifax, Canada, and is currently a level 3 candidate working toward his CFA® designation.
							p David, a Bermudian, is married and enjoys spending time outdoors. On any given weekend you can find him on the beach, playing tennis, sailing or SCUBA diving. He is also slightly obsessed with ridding the local waters of the invasive lionfish.
							p
								strong Phone: 
								| +1 (441) 298-0836
								br
								a(href='mailto:dtavares@afl.bm', role="link") dtavares@afl.bm