#modal-julie.modal.fade(tabindex='-1', role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				h4.modal-title Julie B.V. Preece, BA, MA
				p.modal-designation Wealth Manager
			.modal-body
				.row
					.col-sm-6.col-md-4
						img.modal-thumb(src="images/awm-team-thumb.png", alt="Julie B.V. Preece, BA, MA")
					.col-sm-6.col-md-8
						.modal-wrap
							p Julie joined AFL as a Wealth Manager in September 2014. Julie brings to the team extensive industry and client servicing experience from the financial and regulatory sectors. She is primarily responsible for client services at AFL.
							p Prior to joining AFL, Julie worked in a marketing and business development role for 2 years, in education and training at the Bermuda Insurance Institute for 8 years and also served as Head of Insurance for the Bermuda Monetary Authority (BMA) for 9 years. Prior to the BMA, she was an Officer at Bank of Bermuda, the predecessor to HSBC Bank Bermuda, where she worked in various departments in positions of increasing responsibility for 12 years.
							p Julie, a Bermudian, has a Master’s Degree in Management and Human Relations from Webster University and a Bachelor’s Degree in Economics and Psychology from Queen’s University, Kingston, Ontario, Canada. Julie holds the CFA Investment Foundation Certificate.
							p Julie is married and enjoys all types of outdoor activities and travelling.
							p
								strong Phone: 
								| +1 (441) 294-5738
								br
								a(href='mailto:jpreece@afl.bm', role="link") jpreece@afl.bm