#modal-simon.modal.fade(tabindex='-1', role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				h4.modal-title Simon Giffen, CFA, TEP
				p.modal-designation Group Investment Manager
			.modal-body
				.row
					.col-sm-6.col-md-4
						img.modal-thumb(src="images/awm-team-thumb.png", alt="Simon Giffen, CFA, TEP")
					.col-sm-6.col-md-8
						.modal-wrap
							p Simon joined AFL Investments in September 2014. As well as working with AFL’s clients, Simon has day to day oversight of The Argus Group investment portfolio. Prior to joining AFL, he worked for five years at Gray Philanthropies Limited and Orbis Investment Management Limited in a family office role advising the Chairman. Previously, Simon worked at HSBC Bermuda and its predecessor, Bank of Bermuda, for 11 years in a variety of client-facing roles dealing with High Net Worth and Institutional Clients. His final role at HSBC was on a secondment to the New York office of HSBC Global Asset Management in the capacity of Head of Client Services.
							p Simon holds a BA (Hons) degree in Law and Accounting from Kingston University and a Post-Graduate Diploma in Legal Practice from The College of Law, Guildford. Simon is a CFA® charter holder and member of the Bermuda CFA Society. Additionally, Simon holds the Trust and Estate Practitioner (TEP) professional designation.
							p Simon, a Bermudian, is married, with a son and a daughter. He is a fitness enthusiast and an avid Bridge player, having served on the local board of the American Contract Bridge League for five years.
							p
								strong Phone: 
								| +1 (441) 294-5716
								br
								a(href='mailto:sgiffen@afl.bm', role="link") sgiffen@afl.bm