.umb-grid
	.grid-section
		.site--header(data-js="site-header", role="banner")
			.container
				.row
					.col-sm-12
						.site--header-wrap
							img.site--header-img.hidden(src="images/awm-about-us-bg.png", alt="About Us", role="img")
							p.site--header-label About Us
							h1.site--header-heading(role="heading")
								span.site--header-heading-text Guidance.
								span.site--header-heading-text Discipline.
							p.site--header-content A structured and disciplined approach to investment management provides ideal conditions to generate the returns our clients expect.
							.site--header-btn
								a.site--header-link.btn.btn-primary(href='/contact-us.html', role="link") Find Out More
		.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							a(name="company-overview", role="link")
							h2.card--summary-heading(role="heading") Company Overview
							p.card--summary-content We are a Bermudian financial services company that provides a range of investment solutions to individuals, couples, trusts and endowments as well as companies and philanthropic organisations.
							p.card--summary-content We have a wealth of experience working with both local and international clients to whom we are considered a trusted advisor. We spend time truly getting to know our clients and take pride in our investment approach and excellent client service.
							p.card--summary-content
								| Founded in 2005 as a member of The Argus Group of Companies. Our values are... 
								span.card--features-highlighter (to be provided by Julie)
		.card--team
			.container
				.row
					.col-sm-12
						.text-center
							a(name="our-team", role="link")
							h2.card--team-title(role="heading") Our Team
							p.card--team-caption 
								| At Argus Wealth Management, you can expect to receive local attention while giving you global investment exposure. The majority of our staff are Bermudians and our investment team includes three CFA charter holders. 
								span.card--team-highlighter We are proud to take an active role in our community and would love to 
								| &nbsp;hear from you and help you achieve your investment goals.
							ul.card--team-list.row(role="list")
								li.card--team-listitem.col-sm-4(role="listitem")
									.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Joel P. Schaefer", role="img")
											h2.card--team-heading(role="heading") Joel P. Schaefer, CFA
											p.card--team-content President &amp; CEO
										footer.card--team-footer
											.card--team-links
												a.card--team-link(href="#joel-bio", role="link", data-toggle="modal" data-target="#modal-joel")
													| Bio &gt;
												a.card--team-link(href="#joel-contact", role="link", data-toggle="modal" data-target="#modal-joel")
													| Contact &gt;
								li.card--team-listitem.col-sm-4(role="listitem")
									.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Simon Giffen", role="img")
											h2.card--team-heading(role="heading") Simon Giffen, CFA, TEP
											p.card--team-content Group Investment Manager
										footer.card--team-footer
											.card--team-links
												a.card--team-link(href="#simon-bio", role="link", data-toggle="modal" data-target="#modal-simon")
													| Bio &gt;
												a.card--team-link(href="#simon-contact", role="link", data-toggle="modal" data-target="#modal-simon")
													| Contact &gt;
								li.card--team-listitem.col-sm-4(role="listitem")
									.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Louis Millar", role="img")
											h2.card--team-heading(role="heading") Louis Millar, CFA, CPA
											p.card--team-content Head of Operations
										footer.card--team-footer
											.card--team-links
												a.card--team-link(href="#louis-bio", role="link", data-toggle="modal" data-target="#modal-louis")
													| Bio &gt;
												a.card--team-link(href="#louis-contact", role="link", data-toggle="modal" data-target="#modal-louis")
													| Contact &gt;
								li.card--team-listitem.col-sm-4(role="listitem")
									.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Julie B.V. Preece", role="img")
											h2.card--team-heading(role="heading") Julie B.V. Preece, BA, MA
											p.card--team-content Wealth Manager
										footer.card--team-footer
											.card--team-links
												a.card--team-link(href="#julie-bio", role="link", data-toggle="modal" data-target="#modal-julie")
													| Bio &gt;
												a.card--team-link(href="#julie-contact", role="link", data-toggle="modal" data-target="#modal-julie")
													| Contact &gt;
								li.card--team-listitem.col-sm-4(role="listitem")
									.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="David H. Tavares", role="img")
											h2.card--team-heading(role="heading") David H. Tavares
											p.card--team-content Financial Analyst
										footer.card--team-footer
											.card--team-links
												a.card--team-link(href="#david-bio", role="link", data-toggle="modal" data-target="#modal-david")
													| Bio &gt;
												a.card--team-link(href="#david-contact", role="link", data-toggle="modal" data-target="#modal-david")
													| Contact &gt;
								li.card--team-listitem.col-sm-4(role="listitem")
									.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Angela J. Joell", role="img")
											h2.card--team-heading(role="heading") Angela J. Joell, BA, MSM, IRMCert
											p.card--team-content
												| Education and Investment Manager
												br
												| Life &amp; Pensions
										footer.card--team-footer
											.card--team-links
												a.card--team-link(href="#angela-bio", role="link", data-toggle="modal" data-target="#modal-angela")
													| Bio &gt;
												a.card--team-link(href="#angela-contact", role="link", data-toggle="modal" data-target="#modal-angela")
													| Contact &gt;
								li.card--team-listitem.col-sm-4(role="listitem")
									.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Sara Burnett-Herkes", role="img")
											h2.card--team-heading(role="heading") Sara Burnett-Herkes
											p.card--team-content Operations Associate
										footer.card--team-footer
											.card--team-links
												a.card--team-link(href="#sara-bio", role="link", data-toggle="modal" data-target="#modal-sara")
													| Bio &gt;
												a.card--team-link(href="#sara-contact", role="link", data-toggle="modal" data-target="#modal-sara")
													| Contact &gt;
		.card--testimonial
			.container
				.row
					.col-sm-7.col-sm-offset-5
						.card--testimonial-wrap
							blockquote.card--testimonial-blockquote
								| “Simon from Argus Wealth Management has taken the time to listen to what matters most and has tailored an investment plan that aligns perfectly with our goals.”
							cite.card--testimonial-cite
								| ~ Sandy &amp; Jonathan Coralbank, Hamilton, Bermuda
		.card--callout.card--callout-primary
			.container
				.row
					.col-sm-12
						.text-center
							p.card--callout-content
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.card--callout-link.btn.btn-primary(href='/contact-us.html', role="link") Let’s Discuss Your Needs
