.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							img.site--banner-img.hidden(src="images/awm-banner-compact-bg.jpg", alt="Client Login", role="img")
							h1.site--banner-heading(role="heading")
								| Client Login
		.site--content.site--content-client-login
			.container
				.row
					.col-sm-4
						form.form-signin
							label(for="inputLogin") Login ID:
							input#inputLogin.form-control(type='text', placeholder='Login', required)
							label(for="inputPassword") Password:
							input#inputPassword.form-control(type='password', placeholder='Password', required)
							button.btn.btn-lg.btn-primary.btn-signin(type='submit') Login
							button.btn.btn-lg.btn-secondary Cancel
					.col-sm-7.col-sm-offset-1
						p AFL Online offers a secure, confidential, convenient way for AFL clients to access their account and communicate with the AFL team. Clients may log on 24 hours a day, seven days a week to send &amp; receive mail, view balances, transaction history or statements, access AFL documentation, or read the latest investment commentary.