.umb-grid
	.grid-section
		.site--header(data-js="site-header", role="banner")
			.container
				.row
					.col-sm-12
						.site--header-wrap
							img.site--header-img.hidden(src="images/awm-individual-hnw-clients-bg.png", alt="High Net Worth", role="img")
							p.site--header-label High Net Worth
							h1.site--header-heading(role="heading")
								span.site--header-heading-text Guidance.
								span.site--header-heading-text Discipline.
							p.site--header-content We monitor market trends and proactively manage yourinvestment so that your financial needs are taken care of.
							.site--header-btn
								a.site--header-link.btn.btn-primary(href='/contact-us.html', role="link") Find Out More
		.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary-heading(role="heading") Individual High Net Worth Clients. Why ARgus Wealth Management?
							p.card--summary-content We understand there are many ways to prepare for a secure financial future. While some clients have a clear vision, others come to us feeling intimidated and unsure about the options available. We employ a disciplined approach and guide our clients in the right direction.
		.card--features.card--features-primary-bg
			.container
				.row
					.col-sm-12
						.text-center
							p.card--features-caption
								| Our wealth managers will delve deep to understand every client’s individual, unique situation and use easy-to-understand language.
							ul.card--features-list.row(role="list")
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap.card--features-wraptop
										header.card--features-header
											img.card--features-thumb(src="../images/awm-feature-ihc-01-thumb.png", alt="High Net Worth Clients", role="img")
										footer.card--features-footer
											p.card--features-content
												span.card--features-highlighter Accommodating more demanding reporting requirements
											p.card--features-content Advice around shifting from accumulation to spending
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap.card--features-wraptop
										header.card--features-header
											img.card--features-thumb(src="../images/awm-feature-ihc-02-thumb.png", alt="Institutional Investors", role="img")
										footer.card--features-footer
											p.card--features-content Planning for steady retirement income
											p.card--features-content Trustworthy guidance for long-term returns
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap.card--features-wraptop
										header.card--features-header
											img.card--features-thumb(src="../images/awm-feature-ihc-03-thumb.png", alt="Corporate Pension Funds", role="img")
										footer.card--features-footer
											p.card--features-content Discretion &amp; reassurance
											p.card--features-content Education around managing expenses and investments
											p.card--features-content Planning for stable income
							p.card--features-blurb
								| To start a conversation, please 
								a.card--portfolio-link(href="/contact-us.html", role="link") click here
								| .
		.card--testimonial
			.container
				.row
					.col-sm-7.col-sm-offset-5
						.card--testimonial-wrap
							blockquote.card--testimonial-blockquote
								| “Simon from Argus Wealth Management has taken the time to listen to what matters most and has tailored an investment plan that aligns perfectly with our goals.”
							cite.card--testimonial-cite
								| ~ Sandy &amp; Jonathan Coralbank, Hamilton, Bermuda
		.card--callout.card--callout-primary
			.container
				.row
					.col-sm-12
						.text-center
							p.card--callout-content
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.card--callout-link.btn.btn-primary(href='/contact-us.html', role="link") Let’s Discuss Your Needs
