.umb-grid
	.grid-section
		.site--header(data-js="site-header", role="banner")
			.container
				.row
					.col-sm-12
						.site--header-wrap
							img.site--header-img.hidden(src="images/awm-investor-profiles-bg.png", alt="Investment Philosophy", role="img")
							p.site--header-label Investor Profiles
							h1.site--header-heading(role="heading")
								span.site--header-heading-text Simplicity.
								span.site--header-heading-text Best Practice.
							p.site--header-content Using easy-to-understand language and clear portfolio structuresso that you can make informed decisions and sleep at night.
							.site--header-btn
								a.site--header-link.btn.btn-primary(href='/contact-us.html', role="link") Find Out More
		.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary-heading(role="heading") Why Argus Wealth Management?
							p.card--summary-content The investment landscape can be complicated and intimidating. Our mission is to put the matter of wealth management into clear portfolio structures, explained using easy-to-understand language. This enables our clients to make more confident decisions. Argus Wealth Management manages portfolios for individuals, couples, trusts, companies, endowments and philanthropic organisations.
		.card--features.card--features-primary-bg
			.container
				.row
					.col-sm-12
						.text-center
							p.card--features-caption
								| Argus Wealth Management manages over 
								strong $1 billion 
								| in discretionary and advisory assets and provides a range of investment solutions for three main client groups:
							ul.card--features-list.row(role="list")
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap
										header.card--features-header
											img.card--features-thumb(src="../images/awm-feature-01-thumb.png", alt="High Net Worth Clients", role="img")
											h2.card--features-heading(role="heading") High Net Worth Clients
											p.card--features-content For clients with more than $500,000 to invest, Argus Wealth Management manages customised portfolios that are tailored to clients’ needs and risk tolerances, on either a discretionary or advisory basis.
										footer.card--features-footer
											a.card--features-link(href="/high-net-worth.html", role="link")
												| Learn more &gt;
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap
										header.card--features-header
											img.card--features-thumb(src="../images/awm-feature-02-thumb.png", alt="Institutional Investors", role="img")
											h2.card--features-heading(role="heading") Institutional Investors
											p.card--features-content Argus Wealth Management manages portfolios for trusts, companies, endowments and philanthropic organisations.
										footer.card--features-footer
											a.card--features-link(href="/institutional-investors.html", role="link")
												| Learn more &gt;
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap
										header.card--features-header
											img.card--features-thumb(src="../images/awm-feature-03-thumb.png", alt="Corporate Pension Funds", role="img")
											h2.card--features-heading(role="heading") Corporate Pension Funds
											p.card--features-content Argus Wealth Management uses it's investment expertise to manage The Argus Group's pension pools.
										footer.card--features-footer
											a.card--features-link(href="corporate-pension-funds.html", role="link")
												| Learn more &gt;
		//- .card--testimonial
		//- 	.container
		//- 		.row
		//- 			.col-sm-7.col-sm-offset-5
		//- 				.card--testimonial-wrap
		//- 					blockquote.card--testimonial-blockquote
		//- 						| “Simon from Argus Wealth Management has taken the time to listen to what matters most and has tailored an investment plan that aligns perfectly with our goals.”
		//- 					cite.card--testimonial-cite
		//- 						| ~ Sandy &amp; Jonathan Coralbank, Hamilton, Bermuda
		.card--callout.card--callout-primary
			.container
				.row
					.col-sm-12
						.text-center
							p.card--callout-content
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.card--callout-link.btn.btn-primary(href='/contact-us.html', role="link") Let’s Discuss Your Needs
