.umb-grid
	.grid-section
		.site--header(data-js="site-header", role="banner")
			.container
				.row
					.col-sm-12
						.site--header-wrap
							img.site--header-img.hidden(src="images/awm-investment-philosophy-bg.png", alt="Investment Philosophy", role="img")
							p.site--header-label Investment Philosophy
							h1.site--header-heading(role="heading")
								span.site--header-heading-text Simplicity.
								span.site--header-heading-text Transparency.
							p.site--header-content Providing clear, easy-to-understand structures and full transparency about fees promotes trust and lets you sleep at night.
							.site--header-btn
								a.site--header-link.btn.btn-primary(href='/contact-us.html', role="link") Find Out More
		.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary-heading(role="heading") Our Investment Philosophy.
							p.card--summary-content At Argus Wealth Management we help clients attain financial security. The investment landscape can be complicated and intimidating. Our mission is to put the matter of wealth management into clear portfolio structures, explained using easy-to-understand language. We make all costs and fees fully transparent to clients.
							p.card--summary-content Our focus when looking after client's assets is the long-term creation of wealth within defined and acceptable levels of risk. We take the time to understand our client's goals.
							p.card--summary-content To implement our philosophy, we employ a mixture of active and passive (index-based) strategies. We engage active managers only where we feel they can add value over passive alternatives. We use sophisticated tools to create the appropriate asset allocation for each client. We leverage our institutional relationships to access world class managers at very competitive fees. Allocations are regularly reviewed since market conditions change over time. We monitor various market risks and the way losses may occur and ensure that portfolio risks are consistent with client expectations.
		//- .card--chart
		//- 	.container
		//- 		.row
		//- 			.col-sm-12
		//- 				h2.card--chart-heading(role="heading") We focus on Strategic (Long-Term) Asset Allocation
		//- 				p.card--chart-content Over 90% of your investment outcome is determined by the asset allocation in your portfolio. This makes is the most important decision when creating an investment portfolio. Monitoring changing market conditions results in varying the weighting across different asset classes to remain within your chosen risk level. We put our emphasis on obtaining the proper strategic allocation in our funds and are conscious about keeping fees and cost low. Both these approaches have proven to be the best way in achieving long-term results.
		//- 		.row
		//- 			.col-sm-6
		//- 				p.card--chart-content Determining the appropriate weighting across different asset classes is the most important investment decision to be made when constructing a portfolio.
		//- 				p.card--chart-content
		//- 					| A landmark study (Brinson &amp; Beebower, 1986) illustrates the importance of asset allocation when determining portfolio returns.
		//- 					br
		//- 					| > Joel, can we find a more recent study?
		//- 				table.card--chart-tbl
		//- 					tr
		//- 						td
		//- 							span.card--chart-sign.card--chart-sign-lg
		//- 						td Asset Allocation
		//- 						td 91%
		//- 					tr
		//- 						td
		//- 							span.card--chart-sign.card--chart-sign-md
		//- 						td Security Selection
		//- 						td 5%
		//- 					tr
		//- 						td
		//- 							span.card--chart-sign.card--chart-sign-sm
		//- 						td Market Timing
		//- 						td 2%
		//- 					tr
		//- 						td
		//- 							span.card--chart-sign.card--chart-sign-xs
		//- 						td Other Factors
		//- 						td 2%
		//- 			.col-sm-6
		//- 				img.card--chart-diagram(src="images/awm-chart.png", alt="Chart", role="img")
		.card--features.card--features-secondary-bg
			.container
				.row
					.col-sm-12
						.text-center
							p.card--features-caption
								| Argus Wealth Management manages over 
								strong $1 billion 
								| in discretionary and advisory assets and provides a range of investment solutions for 
								strong three main client groups:
							ul.card--features-list.row(role="list")
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap
										header.card--features-header
											img.card--features-thumb(src="../images/awm-feature-01-thumb.png", alt="High Net Worth Clients", role="img")
											h2.card--features-heading(role="heading") High Net Worth Clients
											p.card--features-content For clients with more than $500,000 to invest, Argus Wealth Management manages customized portfolios that are tailored to clients’ needs and risk tolerances, on either a discretionary or advisory basis.
										footer.card--features-footer
											a.card--features-link(href="/high-net-worth.html", role="link")
												| Learn more &gt;
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap
										header.card--features-header
											img.card--features-thumb(src="../images/awm-feature-02-thumb.png", alt="Institutional Investors", role="img")
											h2.card--features-heading(role="heading") Institutional Investors
											p.card--features-content Argus Wealth Management manages portfolios for trusts, companies, endowments and philanthropic organisations.
										footer.card--features-footer
											a.card--features-link(href="institutional-investors.html", role="link")
												| Learn more &gt;
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap
										header.card--features-header
											img.card--features-thumb(src="../images/awm-feature-03-thumb.png", alt="Corporate Pension Funds", role="img")
											h2.card--features-heading(role="heading") Corporate Pension Funds
											p.card--features-content Argus Wealth Management uses it's investment expertise to manage The Argus Group's pension pools.
										footer.card--features-footer
											a.card--features-link(href="corporate-pension-funds.html", role="link")
												| Learn more &gt;
		.card--callout.card--callout-primary
			.container
				.row
					.col-sm-12
						.text-center
							p.card--callout-content
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.card--callout-link.btn.btn-primary(href='#', role="link") Let’s Discuss Your Needs
