.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							h1.site--banner-heading(role="heading")
								| Macro and Market Outlook
		.site--content
			.container
				.row
					.col-sm-12
						h2.site--content-h2 Overview
						p.site--content-p Quarterly AFL reviews global macro conditions to help us and our clients understand global trends and risk factors. This is always a robust conversation as it is our opportunity to express opinions and have our views challenged. This comprises our 12-month outlook, which we update quarterly. We are neutrally allocated, meaning that market levels of returns will be available for accepting market levels of risk. However, some of the underlying components have shifted. Please review our brief and succinct outlook.
						a.btn.btn-primary(href="http://afl.bm/emails/pdf/2018_01_01_Macro_Factor_Model.pdf", role="link", target="_blank") Click here to download Print Friendly version