.umb-grid
	.grid-section
		.site--header(data-js="site-header", role="banner")
			.container
				.row
					.col-sm-12
						.site--header-wrap
							img.site--header-img.hidden(src="images/awm-product-offering-bg.png", alt="Product Offering", role="img")
							p.site--header-label Product Offering
							h1.site--header-heading(role="heading")
								span.site--header-heading-text Transparency.
								span.site--header-heading-text Cost Containment.
							p.site--header-content Striving to keep fees low, passing on those savings to aid your long-term returns while being fully transparent.
							.site--header-btn
								a.site--header-link.btn.btn-primary(href='/contact-us.html', role="link") Find Out More
		.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary-heading What makes Us Different?
							p.card--summary-content At Argus Wealth Management, we believe in transparency, providing clarity about all fees to our investors. After all, an investor / private wealth manager relationship must be built on trust, keeping our investors informed about all aspects of their investment. Honest, high quality Investment Services at your fingertips!
		.card--portfolio
			.container
				.row
					.col-sm-12
						.text-center
							p.card--portfolio-caption
								| We manage over 
								strong $1 billion 
								| in discretionary and advisory assets and provide a range of solutions for our investors.
							ul.card--portfolio-list.row(role="list")
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Access to Select Global Asset Managers.", role="img")
										h2.card--portfolio-heading(role="heading")
											| Access to Select
											br
											| Global Asset Managers.
										p.card--portfolio-content Argus Wealth Management has carefully selected some of the world’s top rated asset managers based on track record and consistent performance.
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Customized Solutions to fit your specific Needs.", role="img")
										h2.card--portfolio-heading(role="heading") Customized Solutions to fit your specific Needs.
										p.card--portfolio-content We will listen to you and determine in face-to-face meetings which investment solutions will best fit your current situation and future goals.
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Ongoing Review of ever-changing Market Conditions.", role="img")
										h2.card--portfolio-heading(role="heading") Ongoing Review of ever-changing Market Conditions.
										p.card--portfolio-content Our experienced team is constantly monitoring current conditions surrounding world politics, business news and other factors in order to react quickly to changing trends.
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Bespoke Local Advisory Service.", role="img")
										h2.card--portfolio-heading(role="heading")
											| Bespoke Local
											br
											| Advisory Service.
										p.card--portfolio-content At Argus Wealth Management, you can expect discreet and personalised service. We strive to truly understand your needs and forge long-lasting relationships built on honesty and trust.
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Flexibility. Simplicity. Impact.", role="img")
										h2.card--portfolio-heading(role="heading") Flexibility. Simplicity. Impact.
										p.card--portfolio-content Giving you peace-of-mind and the flexibility you deserve.
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Responsive & Transparent. The way it should be.", role="img")
										h2.card--portfolio-heading(role="heading")
											| Responsive &amp; Transparent.
											br
											| The way it should be.
										p.card--portfolio-content Argus Wealth Management has negotiated competitive rates and implemented a fee structure that is aimed to pass savings on to you. We employ a transparent business model that truly benefits our clients without hidden fees.
							p.card--portfolio-blurb
								| To learn more about our 
								strong Select Portfolios, 
								| please 
								a.card--portfolio-link(href="/select-funds.html", role="link") click here
								| .
		//- .card--testimonial
		//- 	.container
		//- 		.row
		//- 			.col-sm-7.col-sm-offset-5
		//- 				div.card--testimonial-wrap
		//- 					blockquote.card--testimonial-blockquote
		//- 						| “Simon from Argus Wealth Management has taken the time to listen to what matters most and has tailored an investment plan that aligns perfectly with our goals.”
		//- 					cite.card--testimonial-cite
		//- 						| ~ Sandy &amp; Jonathan Coralbank, Hamilton, Bermuda
		.card--callout.card--callout-primary
			.container
				.row
					.col-sm-12
						.text-center
							p.card--callout-content
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.card--callout-link.btn.btn-primary(href='/contact-us.html', role="link") Let’s Discuss Your Needs
