.umb-grid
	.grid-section
		.site--header(data-js="site-header", role="banner")
			.container
				.row
					.col-sm-12
						.site--header-wrap
							img.site--header-img.hidden(src="images/awm-select-funds-bg.png", alt="Select Funds", role="img")
							p.site--header-label Select Funds
							h1.site--header-heading(role="heading")
								span.site--header-heading-text Simplicity.
								span.site--header-heading-text Best Practice.
							p.site--header-content A simple structure enables you to make more impactful decision while benefitting from global exposure at lower fees.
							.site--header-btn
								a.site--header-link.btn.btn-primary(href='/contact-us.html', role="link") Find Out More
		.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary-heading(role="heading") Argus Select Funds
							p.card--summary-content Our mission is to obtain the best long-term results for you. In a rigorous process we created a selection of funds matching varying levels of risk to help us achieve this goal. A simple structure enables you to make fewer but more impactful decisions. At the same time, it lets you benefit from leveraging our pricing power with investment managers, keeping fees low.
		.card--funds.card--funds-primary-bg
			.container
				.row
					.col-sm-12
						.text-center
							p.card--funds-caption.card--funds-caption-fullwidth
								| Argus Wealth Management manages over 
								strong $1 billion 
								| in discretionary and advisory assets and provides a range of investment solution for varying investor profiles. Here is an overview of our Select Funds:
							ul.card--funds-list.row(role="list")
								li.card--funds-listitem.card--funds-listitem-conservative.col-sm-12(role="listitem")
									.card--funds-wrap
										header.card--funds-header
											img.card--funds-thumb(src="images/funds-grey-thumb.jpg", alt="Conservation Fund (Class V)", role="img")
										section.card--funds-section
											h2.card--funds-h2
												| Conservation 
												span.card--funds-h2-medium Fund 
												span.card--funds-h2-small (Class V)
											h3.card--funds-h3 Fund Objective
											p.card--funds-p Preservation of capital with significant exposure to fixed income. There will be some exposure to equities to reduce overall portfolio risk and to provide a modest growth of capital.
											a.card--funds-link.btn.btn-primary(href='#', role='link') Download PDF
										footer.card--funds-footer
											img.card--funds-thumb(src="images/funds-grey-graph-thumb.jpg", alt="Conservation Fund (Class V)", role="img")
								li.card--funds-listitem.card--funds-listitem-moderate.col-sm-12(role="listitem")
									.card--funds-wrap
										header.card--funds-header
											img.card--funds-thumb(src="images/funds-purple-thumb.jpg", alt="Moderate Fund (Class W)", role="img")
										section.card--funds-section
											h2.card--funds-h2
												| Moderate 
												span.card--funds-h2-medium Fund 
												span.card--funds-h2-small (Class W)
											h3.card--funds-h3 Fund Objective
											p.card--funds-p Moderate growth of capital with lower volatility. Primary exposure will be to fixed income, with a meaningful exposure to equities to support growth of capital.
											a.card--funds-link.btn.btn-primary(href='#', role='link') Download PDF
										footer.card--funds-footer
											img.card--funds-thumb(src="images/funds-purple-graph-thumb.jpg", alt="Moderate Fund (Class W)", role="img")
								li.card--funds-listitem.card--funds-listitem-balanced.col-sm-12(role="listitem")
									.card--funds-wrap
										header.card--funds-header
											img.card--funds-thumb(src="images/funds-blue-thumb.jpg", alt="Balanced Fund (Class X)", role="img")
										section.card--funds-section
											h2.card--funds-h2
												| Balanced 
												span.card--funds-h2-medium Fund 
												span.card--funds-h2-small (Class X)
											h3.card--funds-h3 Fund Objective
											p.card--funds-p Growth of capital with a primary exposure to equities, while reducing risk and volatility through fixed income and real estate exposure.
											a.card--funds-link.btn.btn-primary(href='#', role='link') Download PDF
										footer.card--funds-footer
											img.card--funds-thumb(src="images/funds-blue-graph-thumb.jpg", alt="Balanced Fund (Class X)", role="img")
								li.card--funds-listitem.card--funds-listitem-growth.col-sm-12(role="listitem")
									.card--funds-wrap
										header.card--funds-header
											img.card--funds-thumb(src="images/funds-green-thumb.jpg", alt="Growth Fund (Class Y)", role="img")
										section.card--funds-section
											h2.card--funds-h2
												| Growth 
												span.card--funds-h2-medium Fund 
												span.card--funds-h2-small (Class Y)
											h3.card--funds-h3 Fund Objective
											p.card--funds-p Growth of capital over complete market cycles with significant exposure to equities and some modification of risk through fixed income and real estate exposure.
											a.card--funds-link.btn.btn-primary(href='#', role='link') Download PDF
										footer.card--funds-footer
											img.card--funds-thumb(src="images/funds-green-graph-thumb.jpg", alt="Growth Fund (Class Y)", role="img")
								li.card--funds-listitem.card--funds-listitem-aggressive.col-sm-12(role="listitem")
									.card--funds-wrap
										header.card--funds-header
											img.card--funds-thumb(src="images/funds-orange-thumb.jpg", alt="Aggressive Fund (Class Z)", role="img")
										section.card--funds-section
											h2.card--funds-h2
												| Aggressive 
												span.card--funds-h2-medium Fund 
												span.card--funds-h2-small (Class Z)
											h3.card--funds-h3 Fund Objective
											p.card--funds-p Growth of capital over complete market cycles with full exposure to equity markets and risk based assets.
											a.card--funds-link.btn.btn-primary(href='#', role='link') Download PDF
										footer.card--funds-footer
											img.card--funds-thumb(src="images/funds-orange-graph-thumb.jpg", alt="Aggressive Fund (Class Z)", role="img")
		.card--testimonial
			.container
				.row
					.col-sm-7.col-sm-offset-5
						.card--testimonial-wrap
							blockquote.card--testimonial-blockquote
								| “Simon from Argus Wealth Management has taken the time to listen to what matters most and has tailored an investment plan that aligns perfectly with our goals.”
							cite.card--testimonial-cite
								| ~ Sandy &amp; Jonathan Coralbank, Hamilton, Bermuda
		.card--callout.card--callout-primary
			.container
				.row
					.col-sm-12
						.text-center
							p.card--callout-content
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.card--callout-link.btn.btn-primary(href='/contact-us.html', role="link") Let’s Discuss Your Needs
