.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							h1.site--banner-heading(role="heading")
								| Terms &amp; Conditions
		.site--content
			.container
				.row
					.col-sm-12
						.site--content-wrap
							p
								| PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS WEBSITE. BY ACCESSING AND USING THIS WEBSITE, YOU INDICATE YOUR ACCEPTANCE OF THESE TERMS AND CONDITIONS. IF YOU DO NOT ACCEPT THESE TERMS AND CONDITIONS, THEN DO NOT USE THIS WEBSITE OR ANY PART THEREOF
							p
								| This website is controlled and operated by AFL Investments Limited (&quot;AFL&quot;). AFL is solely responsible for this website&apos;s content and operation, and for communication between you and this website.
							p
								| Users may be granted access to the public areas of this website and to the secure private areas. References to &apos;website&apos; in these terms and conditions relate to both the public and private secure areas.
							h3 Use of this website
							p
								| This website contains information about the AFL and its products and services and, unless otherwise stated, is provided for general informational purposes only. The content of this website is not intended to be a substitute for professional advice.
							h3 Intellectual property
							p
								| The content of this website including all images, text, programmes, and other materials etc. (the &quot;Contents&quot;) is protected by law, including copyright law, trademark law and including any other intellectual property rights law and international treaties. Any intellectual property rights relating to the Contents belong to the AFL. All rights are reserved for the benefit of AFL. Nothing in the terms and conditions grants you any rights to the website or the Contents contained therein.
							p
								| Except where otherwise stated, AFL and/or its licensors are the owners of the copyright and database rights in this website, including all content data, design, graphics, text, images, software and underlying source codes for use on this website.
							p
								| Any person is authorised to view, reproduce, print and distribute the website pages (the &quot;Pages&quot;) either electronically or otherwise, subject to the conditions that the Pages or any portion of them may be used only for informational, non-commercial purposes.
							p
								| Except where otherwise stated, all trademarks, service marks, trade names, logos and devices, whether registered or unregistered, identifying AFL Investments or its products and services are proprietary marks of AFL Investments. Any other trademarks and service marks are the property of their respective owners. No authority is granted to any person for the use of those marks, names, logos and devices.
							h3 Disclaimer
							p
								| Unless otherwise stated, this website is for informational purposes only. The contents of this website are subject to change and may be amended without notice. Whilst all reasonable efforts are made to ensure the accuracy of the contents of this website, all information is provided &quot;AS IS&quot; and on an &quot;AS AVAILABLE&quot; basis without any representation and without warranty of any kind, whether express or implied, statutory or otherwise, including without limitation, any warranty that (i) information is accurate, complete and up to date or (ii) this website is free of computer viruses, worms or other potentially damaging technology. To the fullest extent permitted by law, AFL Investments disclaims all liability in respect of the information contained in this website.
							p
								| Nothing in this website constitutes professional advice. You are advised to consult a suitably qualified professional advisor regarding any specific concern or matter that you may have.
							h3 LINKS TO Third-party websites
							p
								| This website may contain links to other websites owned and operated by third parties. These links are provided for your convenience and the AFL Investments is not responsible for the content of any websites operated by third parties. To the fullest extent permitted by law, the AFL Investments disclaims all liability in respect of material produced by third parties or appearing on any third party websites and any error, omission or inaccuracy in such material or any failure to comply with relevant laws or regulations.
							p
								| No reference to any third party or link to any website operated by a third party shall constitute or be construed as an endorsement or recommendation by AFL Investments of that third party or of any product or service associated with that third party.
							p
								| If you would like to link to the AFL Investments website, please 
								a(href='/contact-us.html') contact us
								| .
							h3 Regulation and privacy
							p
								| This website is regulated by the Electronic Transactions Act 1999 and the Standard for Electronic Transactions (&quot;the Standard&quot;) issued thereunder.
							p
								| The protection of your privacy and the confidentiality of your personal information are of paramount concern to the AFL Investments. To this end, AFL Investments fully complies with the data protection principles stated in the Standard. AFL Investments also operates in accordance with its own Privacy Policy.
							p
								| Unless otherwise stated, information transmitted to AFL Investments by email or through this website is not secured or protected from interception. Users are therefore requested not to send any confidential information, such as personal details or credit card numbers, unless specific arrangements have been made with AFL Investments. Any attempt to do so without making specific arrangements is at the user&apos;s risk.
							h3 General
							p
								| Your use of this website and any dispute arising out of such use is subject to the laws of Bermuda. Any such dispute is subject to the exclusive jurisdiction of the courts of Bermuda.
							p
								| If any part of these terms and conditions is deemed unlawful, void or unenforceable for any reason, then such part will be deemed severable and will not affect the validity and enforceability of the remaining parts.
							p
								| AFL Investments may revise these terms and conditions at any time without notice by revising the information on this website.
							h3 Contact
							p
								| If you require any further information relating to these terms and conditions please 
								a(href='/contact-us.html') contact us.