@charset "UTF-8";

// Argus Fonts
@font-face {
  font-family: 'Encode Sans';
  src: url(../fonts/EncodeSans-Regular.eot);
  src: url(../fonts/EncodeSans-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/EncodeSans-Regular.woff2) format('woff2'), url(../fonts/EncodeSans-Regular.woff) format('woff'), url(../fonts/EncodeSans-Regular.ttf) format('truetype'), url(../fonts/EncodeSans-Regular.svg#EncodeSans-Regular) format('svg');
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'Encode Sans';
  src: url(../fonts/EncodeSans-SemiBold.eot);
  src: url(../fonts/EncodeSans-SemiBold.eot?#iefix) format('embedded-opentype'), url(../fonts/EncodeSans-SemiBold.woff2) format('woff2'), url(../fonts/EncodeSans-SemiBold.woff) format('woff'), url(../fonts/EncodeSans-SemiBold.ttf) format('truetype'), url(../fonts/EncodeSans-SemiBold.svg#EncodeSans-SemiBold) format('svg');
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: 'Encode Sans Narrow';
  src: url(../fonts/EncodeSansNarrow-SemiBold.eot);
  src: url(../fonts/EncodeSansNarrow-SemiBold.eot?#iefix) format('embedded-opentype'), url(../fonts/EncodeSansNarrow-SemiBold.woff2) format('woff2'), url(../fonts/EncodeSansNarrow-SemiBold.woff) format('woff'), url(../fonts/EncodeSansNarrow-SemiBold.ttf) format('truetype'), url(../fonts/EncodeSansNarrow-SemiBold.svg#EncodeSansNarrow-SemiBold) format('svg');
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: 'Interstate';
  src: url(../fonts/Interstate-Bold.eot);
  src: url(../fonts/Interstate-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Interstate-Bold.woff2) format('woff2'), url(../fonts/Interstate-Bold.woff) format('woff'), url(../fonts/Interstate-Bold.ttf) format('truetype'), url(../fonts/Interstate-Bold.svg#Interstate-Bold) format('svg');
  font-weight: bold;
  font-style: normal
}
@font-face {
  font-family: 'Interstate';
  src: url(../fonts/Interstate-Regular.eot);
  src: url(../fonts/Interstate-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Interstate-Regular.woff2) format('woff2'), url(../fonts/Interstate-Regular.woff) format('woff'), url(../fonts/Interstate-Regular.ttf) format('truetype'), url(../fonts/Interstate-Regular.svg#Interstate-Regular) format('svg');
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'Interstate';
  src: url(../fonts/Interstate-Light.eot);
  src: url(../fonts/Interstate-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/Interstate-Light.woff2) format('woff2'), url(../fonts/Interstate-Light.woff) format('woff'), url(../fonts/Interstate-Light.ttf) format('truetype'), url(../fonts/Interstate-Light.svg#Interstate-Light) format('svg');
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: 'Interstate';
  src: url(../fonts/Interstate-ExtraLight.eot);
  src: url(../fonts/Interstate-ExtraLight.eot?#iefix) format('embedded-opentype'), url(../fonts/Interstate-ExtraLight.woff2) format('woff2'), url(../fonts/Interstate-ExtraLight.woff) format('woff'), url(../fonts/Interstate-ExtraLight.ttf) format('truetype'), url(../fonts/Interstate-ExtraLight.svg#Interstate-ExtraLight) format('svg');
  font-weight: 200;
  font-style: normal
}
@font-face {
  font-family: 'Minion Pro';
  src: url(../fonts/MinionPro-Regular.eot);
  src: url(../fonts/MinionPro-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/MinionPro-Regular.woff2) format('woff2'), url(../fonts/MinionPro-Regular.woff) format('woff'), url(../fonts/MinionPro-Regular.ttf) format('truetype'), url(../fonts/MinionPro-Regular.svg#MinionPro-Regular) format('svg');
  font-weight: normal;
  font-style: normal
}

// Bootstrap Glyphs
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

// Font Awesome
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

// AWM Site Branding Overrides

// COLORS
$white: #fff;
$grey-AA: #231f20;
$silver-AA: #5d6770;
$silver-AB: #e9e7e7;
$silver-AC: #5d6770;
$silver-AD: #3d4144;
$silver-AE: #dadada;
$silver-AF: #e8e9ee;
$silver-AG: #939598;
$blue-AA: #2c3950;
$blue-AB: #d6f9ff;
$blue-AC: #0079c1;
$blue-AD: #293852;
$blue-AE: #1f71ac;
$blue-AF: #d2e3ee;
$blue-AG: #1178bb;
$blue-AH: #409ad0;
$blue-AI: #25aae1;
$red-AA: #ff5959;
$orange-AA: #f68b1e;
$green-AA: #dcd087;
$green-AB: #817f6f;
$green-AC: #aab2a9;
$green-AD: #a2e7a7;
$green-AE: #22b24c;
$purple-AA: #ac2088;

// --- GENERAL STYLES
// Universal
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::-moz-selection,
*::selection {
  color: $white;
  background-color: $red-AA;
}
.awm-background,
footer {
  background-color: $blue-AA;
}
.topbar-menu,
.header-v8 .mega-menu .nav {
  justify-content: flex-end;
}
#footer .ag-footer-links {
  margin-top: 80px;
  margin-bottom: 30px;
}
.hero-with-breadcrumb,
.hero-with-breadcrumb-container {
  padding-bottom: 0;
  margin-bottom: 0;
}
.header-v8 {
  .nav > li > a {
    color: $blue-AD;
  }
  @media screen and (min-width: 768px) {
    .dropdown-menu {
      top: 97px!important;
      left: auto!important;
      right: auto!important;
    }
  }
}
.awm-navigation {
  .call-to-action {
    font-family: "Interstate";
    font-weight: bold!important;
  }
}

// BOOTSTRAP OVERRIDES
.btn.btn-primary,
.btn.btn-secondary {
  font-size: 16px;
  font-weight: bold;
  font-family: "Interstate";
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}
.top-nav-container {
  .topbar-list {
    .link {
      margin-right: 8px;
      padding: 7px 3px 3px 3px;
      border-bottom: 4px solid transparent;
      // padding: 20px 3px 10px;
      &--btn {
        padding: 7px 0 7px 10px;
      }
    }
    .current {
      border-bottom: 4px solid $red-AA;
      padding: 22px 3px 18px;
    }
  }
}
.top-nav-container .topbar-list .link--btn {
  margin-right: 0!important;
}
.mobile-menu-nav-header .mobile-logo {
  width: 160px;
}

// SECTION
.site--header {
  position: relative;
  // background: $silver-AF;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 70px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 60%;
    background: rgba(232,233,238,1);
    background: -moz-linear-gradient(left, rgba(232,233,238,1) 0%, rgba(232,233,238,0.52) 48%, rgba(232,233,238,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,233,238,1)), color-stop(48%, rgba(232,233,238,0.52)), color-stop(100%, rgba(232,233,238,0)));
    background: -webkit-linear-gradient(left, rgba(232,233,238,1) 0%, rgba(232,233,238,0.52) 48%, rgba(232,233,238,0) 100%);
    background: -o-linear-gradient(left, rgba(232,233,238,1) 0%, rgba(232,233,238,0.52) 48%, rgba(232,233,238,0) 100%);
    background: -ms-linear-gradient(left, rgba(232,233,238,1) 0%, rgba(232,233,238,0.52) 48%, rgba(232,233,238,0) 100%);
    background: linear-gradient(to right, rgba(232,233,238,1) 0%, rgba(232,233,238,0.52) 48%, rgba(232,233,238,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e9ee', endColorstr='#e8e9ee', GradientType=1 );
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
    &::before {
      content: "";
      background: linear-gradient(to right,rgba(0,121,193,.85),rgba(0,121,193,.65));
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
    }
  }
  &-label {
    margin: 0 0 30px;
    padding: 0;
    color: $blue-AC;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      font-size: 20px;
      margin: 0 0 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      font-size: 18px;
      margin: 0 0 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
      margin: 0 0 15px;
      color: $white;
    }
  }
  &-heading {
    margin: 0 0 30px;
    padding: 0;
    color: $blue-AD;
    font-size: 70px;
    font-weight: 300;
    line-height: normal;
    &-text {
      display: block;
    }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      font-size: 50px;
      margin: 0 0 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      font-size: 36px;
      margin: 0 0 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 24px;
      margin: 0 0 15px;
      color: $white;
    }
  }
  &-content {
    margin: 0 0 30px;
    padding: 0;
    max-width: 600px;
    color: $silver-AD;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      font-size: 20px;
      margin: 0 0 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      font-size: 18px;
      margin: 0 0 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
      margin: 0 0 15px;
      color: $white;
    }
  }
  &-link {
    min-width: 270px;
    font-weight: bold;
    font-family: "Interstate";
  }
  &-highlighter {
    padding: 5px;
    display: inline-block;
    background: $green-AD;
  }
}
.site--banner {
  position: relative;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  &::before {
    content: '';
    background: rgba(0, 121, 193, .75);
    height: 100%;
    width: 100%;
    position: absolute;
  }
  &-wrap {
    padding-top: 75px;
    padding-bottom: 75px;
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &-heading {
    margin: 0 0 30px;
    padding: 0;
    color: $white;
    font-size: 50px;
    font-weight: 300;
    line-height: normal;
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      font-size: 36px;
      margin: 0 0 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      font-size: 28px;
      margin: 0 0 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 24px;
      margin: 0 0 15px;
    }
  }
  &-content {
    margin: 0;
    padding: 0;
    color: $white;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      font-size: 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      font-size: 18px;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
  &-compact {
    .site--banner-heading {
      margin: 0;
      @media screen and (min-width: 992px) and (max-width: 1200px) {
        margin: 0;
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        margin: 0;
      }
      @media screen and (max-width: 768px) {
        margin: 0;
      }
    }
  }
}
.site--content {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  p {
    font-size: 18px;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
  a:not(.btn),
  a:not(.btn-primary) {
    color: $blue-AE;
    font-size: inherit;
    &:link,
    &:active
    &:visited,
    &:focus {
      color: $blue-AE;
    }
  }
  h3 {
    margin: 30px 0 10px;
  }
  &-link {
    color: $blue-AE;
    &:link,
    &:active
    &:visited,
    &:focus {
      color: $blue-AE;
    }
  }
  &-client-login {
    .form-group {
      margin-bottom: 15px;
    }
    .btn {
      margin-bottom: 15px;
    }
    input {
      width: 100%;
      height: 34px;
      margin: auto;
      padding: 6px 12px;
    }
    p {
      font-weight: 300;
    }
    .form-signin {
      .btn-signin {
        border: 2px solid #ff5959;
        &:active,
        &:hover,
        &:focus {
          background-color: #f04c4c;
          border: 2px solid #f04c4c;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        .btn {
          min-width: 130px;
        }
      }
    }
  }
  // .form-signin {
  //   input {
  //     margin: 0 0 15px;
  //   }
  //   input[type="password"] {
  //     padding: 6px 12px;
  //     height: 34px;
  //   }
  //   @media screen and (min-width: 768px) and (max-width: 992px) {
  //     .btn {
  //       width: 100%;
  //       &:first-of-type {
  //         margin-bottom: 15px;
  //       }
  //     }
  //   }
  //   @media screen and (max-width: 768px) {
  //     margin-bottom: 20px;
  //   }
  // }
}
.site--footer {
  @media screen and (max-width: 768px) {
    .footer-flag,
    .footer-info {
      text-align: left;
    }
  }
  @media screen and (max-width: 480px) {
    &-footlinks {
      display: inline-block;
    }
  }
  .footer-flag {
    img {
      width: 23px;
      height: 16px;
    }
  }
  &-copyright {
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      font-size: 14px;
    }
    @media screen and (max-width: 768px) {
      display: block;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  &-footlinks {
    &:after {
      content: "|";
      margin-right: 5px;
      padding-left: 5px;
    }
    &:last-of-type {
      &:after {
        content: "";
      }
    }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      &:after {
        margin-right: 3px;
        padding-left: 3px;
      }
    }
    @media screen and (max-width: 768px) {
      display: inline-block;
    }
  }
}