include ../_includes/blocks/top-menu
div
	#site-wrapper.ag.ag-site-wrapper
		#site-canvas.ag-site-canvas
			include ../_includes/blocks/main-menu
			.ag-content-wrapper
				include ../_includes/blocks/nav-menu
				include ../_includes/content/product-offering
include ../_includes/blocks/footer